@media only screen and (min-width: 320px) and (max-width: 426px) {
  header {
    position: relative;
    width: 100%;
    justify-content: space-around;
  }

  #menu-icon {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
  }

  #icon-wrapper {
    display: none;
  }

  #logo {
    padding-top: 17px;
  }
  #logo-part-1 {
    width: 55%;
  }

  #logo-part-2 {
    width: 22%;
    margin-left: 15px;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5rem 2.5rem;
    transform: translateX(-100%);
    border-radius: 20px;
  }
  nav ul {
    flex-direction: column;
  }

  #wrapper {
    padding: 0 1rem;
  }

  #wrapper h1 {
    font-size: 22px;
  }

  #wrapper #hero-p1 {
    font-size: 10px;
  }

  #wrapper #hero-p2 {
    width: 85%;
    font-size: 12px;
  }
  .carousel-image {
    height: 500px;
  }

  .btn {
    width: 50px;
    height: 15px;
    font-size: 8px;
  }
  .arrow {
    width: 30px;
    height: 30px;
  }
  #welcome {
    width: 90%;
    height: auto;
    padding: 2rem 15px;
    justify-content: center;
    gap: 2rem;
    top: 17%;
    left: 51%;
    transform: translate(-50%, 0%);
  }

  #welcome-content {
    gap: 0.7rem;
  }
  #welcome-heading {
    font-size: 15px;
  }

  #welcome-p1 {
    font-size: 7px;
    text-align: center;
  }

  #feature-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .features {
    gap: 1rem;
    flex-direction: row;
  }
  .feature-content {
    gap: 0.5rem;
  }

  .features h1 {
    font-size: 10px;
  }
  .features p {
    font-size: 8px;
  }

  .icon i {
    font-size: 25px;
  }
  #sec-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 28em;
    margin-bottom: 3rem;
  }

  #message-container {
    height: auto;
  }

  #message {
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .quote {
    font-size: 80px;
  }

  #quote-down {
    top: 0%;
    right: 90%;
    transform: translate(-50%, -20%);
  }

  #quote-up {
    transform: translateY(60%);
  }

  #signature {
    font-size: 24px;
  }
  #sec-3 {
    height: auto;
  }
  #sec-3-bg-img {
    height: 530px;
  }
  #news {
    gap: 1.5rem;
    height: auto;
  }

  #heading-container {
    height: auto;
    gap: 1rem;
  }

  #news-heading {
    font-size: 22px;
    line-height: 0;
  }

  #img-grp {
    width: 70%;
    height: auto;
    flex-direction: column;
    gap: 1rem;
  }
  .img-container {
    width: 200px;
    height: 120px;
  }
  .overlay-content h5 {
    font-size: 12px;
    line-height: 0;
  }

  .overlay-content p {
    font-size: 10px;
    line-height: 12px;
  }

  .overlay-content button {
    width: 55px;
    height: 20px;
    font-size: 8px;
  }

  #catalogue {
    padding: 0;
    margin: 0;
    gap: 1rem;
    flex-direction: column;
  }

  .product {
    gap: 1rem;
  }

  #products {
    gap: 2rem;
    justify-content: center;
    height: 500px;
    padding: 1.5rem 20px;
  }

  #top {
    margin: 0;
    padding: 0;
    gap: 1rem;
  }

  #top p {
    font-size: 10px;
    line-height: 12px;
  }

  #top #heading {
    font-size: 22px;
  }

  #product-heading {
    font-size: 12px;
  }
  .product-desc {
    gap: 0.5rem;
  }

  .product-desc p {
    font-size: 9px;
  }

  .product-desc a button {
    font-size: 10px;
    width: 80px;
    height: 15px;
  }

  .product-image {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .product-image img {
    width: 100px;
    height: max-content;
    object-fit: cover;
  }

  #video-area img {
    height: 270px;
  }

  #content {
    gap: 1rem;
  }

  #content p {
    font-size: 22px;
  }

  #video-container {
    width: 280px;
    height: 150px;
  }

  footer {
    gap: 3rem;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
  }

  #footer-top {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  #about h1 {
    font-size: 20px;
  }

  #about p {
    font-size: 10px;
  }

  #links {
    gap: 2rem;
    flex-wrap: wrap;
  }

  #links ul p {
    font-size: 12px;
  }

  #links ul li {
    font-size: 10px;
  }

  #socials ul li span {
    font-size: 10px;
  }

  #socials,
  #socials ul {
    gap: 0.8rem;
  }

  #socials ul li {
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #bottom p {
    font-size: 8px;
  }

  #bottom {
    margin-top: 1.5rem;
    gap: 0;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

/* @media only screen and (min-width: 326px) and (max-width: 376px) {
  header {
    width: 100%;
    justify-content: space-around;
  }

  #menu-icon {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
  }

  #logo {
    padding-top: 17px;
    transition: all 0.3s ease-in-out;
  }
  #logo-part-1 {
    width: 55%;
  }

  #logo-part-2 {
    width: 22%;
    margin-left: 15px;
  }
  #nav-wrapper {
    position: absolute;
    width: 80%;
    top: 0;
    left: 40%;
    transform: translate(-50%, -200%);
    transition: all 0.3s ease-in-out;
  }

  #nav-wrapper nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0 0.3rem;
    font-size: 11px;
  }
  #nav-wrapper.show-nav {
    transform: translate(-50%, 0%);
  }

  #icon-wrapper {
    display: none;
  }

  #wrapper {
    padding: 0 1rem;
  }

  #wrapper h1 {
    font-size: 22px;
  }

  #wrapper #hero-p1 {
    font-size: 10px;
  }

  #wrapper #hero-p2 {
    width: 85%;
    font-size: 12px;
  }

  .btn {
    width: 50px;
    height: 15px;
    font-size: 8px;
  }
  .arrow {
    width: 30px;
    height: 30px;
  }
  #welcome {
    width: 90%;
    height: 450px;
    padding: 0 15px;
    justify-content: space-evenly;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #welcome-content {
    gap: 0.7rem;
  }
  #welcome-heading {
    font-size: 18px;
  }

  #welcome-p1 {
    font-size: 12px;
  }

  #feature-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .features {
    gap: 1rem;
  }

  .features h1 {
    font-size: 10px;
  }
  .features p {
    font-size: 8px;
  }

  .icon i {
    font-size: 25px;
  }
  #sec-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 15em;
    margin-bottom: 3rem;
  }

  #message-container {
    height: auto;
  }

  #message {
    margin-left: 10px;
    font-size: 12px;
    line-height: 20px;
  }

  .quote {
    font-size: 80px;
  }

  #quote-down {
    top: 0%;
    right: 90%;
    transform: translate(-50%, -20%);
  }

  #quote-up {
    transform: translateY(60%);
  }

  #signature {
    font-size: 24px;
  }

  #news {
    gap: 2rem;
  }

  #heading-container {
    gap: 1rem;
  }

  #news-heading {
    font-size: 18px;
    line-height: 0;
  }

  #img-grp {
    width: 70%;
    height: 18%;
  }

  .overlay-content h5 {
    font-size: 8px;
  }

  .overlay-content p {
    overflow: auto;
    font-size: 5px;
    line-height: 5px;
  }

  .overlay-content button {
    width: 30px;
    height: 10px;
    font-size: 5px;
  }

  #catalogue {
    gap: 1rem;
    flex-direction: column;
  }

  .product {
    gap: 0rem;
  }

  #products {
    justify-content: center;
    height: 500px;
    padding: 0 20px;
  }

  #top {
    gap: 0.5rem;
  }

  #top p {
    font-size: 12px;
    line-height: 12px;
  }

  #top #heading {
    font-size: 18px;
  }

  #product-heading {
    font-size: 12px;
  }

  .product-desc p {
    font-size: 8px;
  }

  .product-desc a button {
    font-size: 10px;
    width: 80px;
    height: 15px;
  }

  .product-image img {
    width: 60%;
    object-fit: cover;
  }

  #content {
    gap: 0.5rem;
  }

  #content p {
    font-size: 15px;
  }

  #video-container {
    width: 160px;
    height: 80px;
  }

  footer {
    gap: 3rem;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
  }

  #footer-top {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  #about h1 {
    font-size: 20px;
  }

  #about p {
    font-size: 10px;
  }

  #links {
    gap: 2rem;
    flex-wrap: wrap;
  }

  #links ul p {
    font-size: 12px;
  }

  #links ul li {
    font-size: 10px;
  }

  #socials ul li span {
    font-size: 10px;
  }

  #socials,
  #socials ul {
    gap: 0.8rem;
  }

  #socials ul li {
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #bottom p {
    font-size: 8px;
  }

  #bottom {
    gap: 0;
    justify-content: space-between;
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 377px) and (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    justify-content: space-around;
  }

  #menu-icon {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
  }

  #logo {
    padding-top: 17px;
    transition: all 0.3s ease-in-out;
  }
  #logo-part-1 {
    width: 55%;
  }

  #logo-part-2 {
    width: 22%;
    margin-left: 15px;
  }
  #nav-wrapper {
    position: absolute;
    width: 80%;
    top: 0;
    left: 40%;
    transform: translate(-50%, -200%);
    transition: all 0.3s ease-in-out;
  }

  #nav-wrapper nav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    padding: 0 0.3rem;
    font-size: 11px;
  }
  #nav-wrapper.show-nav {
    transform: translate(-50%, 0%);
  }

  #icon-wrapper {
    display: none;
  }

  #wrapper {
    padding: 0 1rem;
  }

  #wrapper h1 {
    font-size: 30px;
  }

  #wrapper #hero-p1 {
    font-size: 12px;
  }

  #wrapper #hero-p2 {
    width: 85%;
    font-size: 16px;
  }

  body #welcome {
    width: 90%;
    height: 450px;
    padding: 0 15px;
    justify-content: space-evenly;
    top: 32%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #welcome-content {
    gap: 1rem;
  }
  #welcome-heading {
    font-size: 15px;
  }

  #welcome-p1 {
    font-size: 9px;
  }

  #feature-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .features {
    gap: 2rem;
  }

  .features h1 {
    font-size: 10px;
  }
  .features p {
    font-size: 10px;
  }

  .icon i {
    font-size: 20px;
  }

  main #sec-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 20em;
    margin-bottom: 5rem;
  }

  #message-container {
    height: auto;
  }

  #message-container #message {
    font-size: 15px;
    line-height: 18px;
  }

  #message-container .quote {
    font-size: 100px;
  }

  #message-container #quote-down {
    top: 48%;
    right: 100%;
    transform: translate(-5%, -55%);
  }

  #message-container #quote-up {
    transform: translateY(58%);
  }

  #message-container #signature {
    font-size: 30px;
  }

  main #news {
    gap: 2rem;
  }

  #news #heading-container {
    gap: 1rem;
  }

  #news #news-heading {
    font-size: 15px;
    line-height: 0;
  }

  #news #img-grp {
    width: 80%;
    height: 20%;
  }

  .overlay-content h5 {
    font-size: 8px;
  }

  .overlay-content p {
    overflow: auto;
    font-size: 7px;
    line-height: 10px;
  }

  .overlay-content button {
    width: 60px;
    height: 15px;
    font-size: 8px;
  }

  #products #catalogue {
    gap: 1rem;
    flex-direction: column;
  }

  .product {
    gap: 0rem;
  }

  #products {
    justify-content: center;
    height: 500px;
    padding: 0 20px;
  }

  #products #top {
    gap: 1rem;
  }

  #products #top p {
    font-size: 10px;
    line-height: 12px;
  }

  #products #top #heading {
    font-size: 18px;
  }

  #products #product-heading {
    font-size: 10px;
  }

  #products .product-desc p {
    font-size: 10px;
  }

  #products .product-desc a button {
    font-size: 10px;
    width: 80px;
    height: 15px;
  }

  #products .product-image img {
    width: 60%;
    object-fit: cover;
  }

  #video-area #content {
    gap: 0.5rem;
  }

  #video-area #content p {
    font-size: 15px;
  }

  #video-area #video-container {
    width: 200px;
    height: 100px;
  }

  footer {
    gap: 1rem;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
  }

  #footer-top {
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: start;
    padding-left: 2rem;
  }

  #footer-top #about h1 {
    font-size: 20px;
  }

  #footer-top #about p {
    font-size: 10px;
  }

  #footer-top #links {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #footer-top #links ul p {
    font-size: 12px;
  }

  #footer-top #links ul li {
    font-size: 10px;
  }

  #footer-top #socials ul li span {
    font-size: 10px;
  }

  #footer-top #socials,
  #footer-top #socials ul {
    gap: 0.8rem;
  }

  #footer-top #socials ul li {
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #bottom p {
    font-size: 10px;
  }

  #bottom {
    gap: 0;
    justify-content: space-between;
    padding: 0 1rem;
  }
} */

@media only screen and (min-width: 426px) and (max-width: 769px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 100%;
    justify-content: space-around;
  }

  #menu-icon {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
  }

  #icon-wrapper {
    display: none;
  }

  #logo {
    padding-top: 17px;
  }
  #logo-part-1 {
    width: 55%;
  }

  #logo-part-2 {
    width: 22%;
    margin-left: 15px;
  }

  nav {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    align-items: center;
    justify-content: center;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1.5rem 2.5rem;
    transform: translateX(-100%);
    border-radius: 20px;
  }
  nav ul {
    flex-direction: column;
  }
  #wrapper {
    padding: 0 1rem;
  }
  .carousel-image {
    height: 600px;
  }

  #wrapper h1 {
    font-size: 30px;
  }

  #wrapper #hero-p1 {
    font-size: 12px;
  }

  #wrapper #hero-p2 {
    width: 85%;
    font-size: 16px;
  }

  #welcome {
    width: 90%;
    height: auto;
    padding: 2rem 15px;
    justify-content: space-evenly;
    gap: 2rem;
    top: 18%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #welcome-content {
    gap: 0.7rem;
  }
  #welcome-heading {
    font-size: 18px;
  }

  #welcome-p1 {
    font-size: 10px;
    text-align: center;
  }

  #feature-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
  }

  .features {
    gap: 1rem;
    flex-direction: row;
  }
  .feature-content {
    gap: 0.5rem;
  }

  .features h1 {
    font-size: 15px;
  }
  .features p {
    font-size: 10px;
  }

  .icon i {
    font-size: 32px;
  }

  #sec-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 28rem;
    margin-bottom: 5rem;
  }

  #message-container {
    height: auto;
  }

  #message {
    font-size: 16px;
    line-height: 28px;
  }

  .quote {
    font-size: 90px;
  }

  #quote-down {
    top: 30%;
    right: 100%;
    transform: translate(0, -50%);
  }

  #quote-up {
    transform: translateY(70%);
  }

  #signature {
    font-size: 42px;
  }

  #news {
    height: auto;
    gap: 3rem;
  }

  #heading-container {
    gap: 1.5rem;
  }
  #sec-3-bg-img {
    height: 270px;
  }

  #news-heading {
    font-size: 28px;
    line-height: 0;
  }

  #img-grp {
    width: 90%;
    height: 20%;
  }

  .overlay-content h5 {
    font-size: 12px;
  }

  .overlay-content p {
    overflow: auto;
    font-size: 10px;
    line-height: 15px;
  }

  .overlay-content button {
    width: 70px;
    height: 20px;
    font-size: 10px;
  }

  #catalogue {
    gap: 1rem;
    padding: 0;
    flex-direction: column;
  }

  .product {
    gap: 1rem;
  }

  #products {
    justify-content: center;
    height: auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }

  #top {
    padding: 0;
    gap: 1rem;
  }

  #top p {
    font-size: 12px;
    line-height: 22px;
  }

  #top #heading {
    font-size: 30px;
  }

  #product-heading {
    font-size: 15px;
  }

  .product-desc p {
    font-size: 12px;
  }

  .product-desc a button {
    font-size: 12px;
    width: 90px;
    height: 20px;
  }

  .product-image {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  .product-image img {
    width: 120px;
    height: max-content;
    object-fit: cover;
  }

  #video-area img {
    height: 330px;
  }

  #content {
    gap: 1rem;
  }

  #content p {
    font-size: 24px;
  }

  #video-container {
    width: 350px;
    height: 180px;
  }

  footer {
    gap: 3rem;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
  }

  #footer-top {
    flex-direction: column;
    gap: 5rem;
  }

  #about h1 {
    font-size: 20px;
  }

  #about p {
    font-size: 10px;
  }

  #links {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #links ul p {
    font-size: 12px;
  }

  #links ul li {
    font-size: 10px;
  }

  #socials ul li span {
    font-size: 10px;
  }

  #socials,
  #socials ul {
    gap: 0.8rem;
  }

  #socials ul li {
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #bottom p {
    font-size: 10px;
  }

  #bottom {
    gap: 0;
    justify-content: space-between;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1025px) {
  body {
    overflow-x: hidden;
  }

  #wrapper {
    padding: 0 2rem;
  }

  .carousel-image {
    height: 600px;
  }
  #wrapper h1 {
    font-size: 32px;
  }

  #wrapper #hero-p1 {
    font-size: 18px;
  }

  #wrapper #hero-p2 {
    width: 85%;
    font-size: 20px;
  }

  #welcome {
    width: 90%;
    height: 450px;
    padding: 0 15px;
    justify-content: space-evenly;
    top: 19%;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #welcome-content {
    gap: 1.2rem;
  }
  #welcome-heading {
    font-size: 24px;
  }

  #welcome-p1 {
    font-size: 13px;
  }

  #feature-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .features {
    gap: 2rem;
  }

  .features h1 {
    font-size: 15px;
  }
  .features p {
    font-size: 12px;
  }

  .icon i {
    font-size: 36px;
  }

  #sec-2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 25em;
    margin-bottom: 5rem;
  }

  #message-container {
    height: auto;
  }

  #message {
    font-size: 24px;
    line-height: 28px;
  }

  .quote {
    font-size: 180px;
  }

  #quote-down {
    top: 58%;
    right: 100%;
    transform: translate(0, -50%);
  }

  #quote-up {
    transform: translateY(48%);
  }

  #signature {
    font-size: 42px;
  }

  #news {
    height: auto;
    gap: 2rem;
  }

  #heading-container {
    gap: 1.5rem;
  }

  #news-heading {
    font-size: 28px;
    line-height: 10px;
  }

  #img-grp {
    width: 90%;
    height: 20%;
  }

  #catalogue {
    gap: 0rem;
  }

  .product {
    gap: 0rem;
  }

  #products {
    justify-content: center;
    height: 500px;
    padding: 0 20px;
  }

  #products #top {
    gap: 1rem;
  }

  #products #top p {
    font-size: 20px;
    line-height: 22px;
  }

  #products #top #heading {
    font-size: 36px;
  }

  #products #product-heading {
    font-size: 18px;
  }

  #catalogue .product-desc p {
    font-size: 15px;
  }

  #catalogue .product-desc a button {
    font-size: 14px;
    width: 100px;
    height: 25px;
  }

  .product-image img {
    width: 80%;
    object-fit: cover;
  }

  #content {
    gap: 1rem;
  }

  #content p {
    font-size: 32px;
  }

  #video-container {
    width: 400px;
    height: 200px;
  }

  footer {
    gap: 3rem;
    padding: 3rem 1rem 0 1rem;
    flex-wrap: wrap;
  }

  #footer-top {
    gap: 5rem;
  }

  #about h1 {
    font-size: 24px;
  }

  #about p {
    font-size: 15px;
  }

  #links {
    gap: 1rem;
    flex-wrap: wrap;
  }

  #links ul p {
    font-size: 18px;
  }

  #links ul li {
    font-size: 15px;
  }

  #socials ul li span {
    font-size: 15px;
  }

  #socials,
  #socials ul {
    gap: 0.8rem;
  }

  #socials ul li {
    gap: 0.5rem;
    padding: 0.3rem 0.5rem;
  }

  #bottom p {
    font-size: 15px;
  }

  #bottom {
    gap: 0;
    justify-content: space-between;
    padding: 0 3rem;
  }
}
